<article>
    
        <h2><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></h2>
    
        <p class="subheader">
            <time>{{ entry.modified_at|date }}</time>
        </p>
    
        <p></p>
    
        {{ entry.body|linebreaks }}    
  
    </article>

    <hr>
    <h4>Comments</h4>
    {% for comment in entry.comment_set.all %}
        <p><em>Posted by {{ comment.name }}</em></p>
        {{ comment|linebreaks }}
    {% empty %}
        No comments yet.
    {% endfor %}